
@use 'helper-styles' as *
@use 'reset-base' as *
@use 'layout' as *

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap')


$player-unit-color: #92caff


military-symbols
  @include flexCenter
  overflow: hidden
  flex-direction: column
  background-color: #2c2e35
  font-family: 'Open Sans'
  font-weight: 500

  pre-game
    @include flexCenter
    flex-direction: column
    gap: 1rem
    start-button, continue-button
      @include button(green)


  game-view
    @include flexCenter
    position: relative
    max-width: 100%
    min-width: 100%

    region-map
      @include flexCenter
      position: relative
      img
        height: 100%

    military-units

      
      military-unit
        position: absolute
        display: block
        width: 2rem
        height: 2rem
        background-color: $player-unit-color
        top: 45%
        left: 55%
        box-shadow: 0 0 0 .1em inset black
        transition: all .2s

        &.is-selected
          transform: translateY(-.1rem)
          box-shadow: inset 0 0 0 0.1em black, 0 2px 4px #0007
          background-color: lighten($player-unit-color, 5%)
          

        insignia-container
          position: absolute
          bottom: 100%
          left: 0
          display: flex
          justify-content: center
          width: 100%

        unit-info
          background: white
          margin-left: 1rem
          position: absolute
          top: 0
          left: 100%

        unit-info.container
          display: none

        &:hover
          unit-info.container
            display: block


